.stu {
	display: flex;
	font-size: 3em;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: rgb(66,133,244);
	margin-right: 42.5px;
}

 .card {
 	justify-content: center;
 	align-content: center;
    border: 0;
    margin-bottom: 0px;
    margin-top: 40px;
    border-radius: 6px;
    width: 75vw;
    max-width: 700px;
    color: #333333;
    background: #fff;
    /*width: 100%;*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-body{
	padding-bottom: 20px;
}

.card-title {
	font-size: 25px;
}

.container {
	display: flex;
	justify-content: center;
	text-align: center;
}

.new{
	font-size: 30px;
	margin-bottom: 30px;
	padding: 15px 58px 15px 58px;
}

.existing{
	font-size: 30px;
	margin-bottom: 30px;
	padding: 15px 30px 15px 30px;
}

/*.dogbutton {
	
	align-self: flex-end;

}
*/
